<label >Your Name:</label> 
<input [(ngModel)]="authorName"  />
<br/>
<br/>
<label>Messages</label>
<div *ngFor="let message of messageList" class="chatDiv">
  {{message}}
</div>
<br/>
<br/>

<label >Message:</label> 
<input [(ngModel)]="authorText" (keyup.enter)="sendMessage()" />
<button (click)="sendMessage()">Send</button>
<br/>
<br/>
<br/>
<br/>

<!--
<label >Select A Chatroom:                  </label> 
<div *ngFor="let chatroom of chatRoomList">
  {{chatroom}}
</div>>
-->

<label >Create A New Chatroom:</label> 
<input [(ngModel)]="roomName" (keyup.enter)="createChatRoom()" />
<button (click)="createChatRoom()">Create</button>